[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "~=3.8"
ansible-lint = "~=4.2.0"
hvac = "*"
ansible = "==10.6"
python-dateutil = "*"
datetime = "*"

[dev-packages]

[requires]
